<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
   

      <div class="header">
          
            <h1 class=title>אישור</h1>
 
              
            </div>
    


<div class="login-block">
    
    <button (click)=back() class="btnback"> חזרה </button>
    <div class="text">
<img src="assets/like.png">!כל הכבוד
<br>
 
   
</div>

<div class="ms">

   <b>:פרטי האירוע</b> 
    <div class="de">  <b> שם פרטי: </b>{{this._name}}</div>
    <div class="de"><b>שם משפחה :</b>{{this._lastname}}</div>
    <div class="de"> <b>פלאפון: </b>{{this._phone}} </div>
    <div class="de"><b> קטגוריה: </b>{{ this._cat}} </div>
    <div class="de"><b>עיר :</b>{{this._city}}</div>
    <div class="de"><b>כתובת:</b>{{this._address}}</div>
    <div class="de"><b>פרטים: </b>{{this._details}}</div>
   
    
</div>
  

    
    <br><br>
    
</div>
  </div>
  