<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
    

      <div class="header">
          
            <h1 class=title>אישור</h1>

         
              
            </div>
    


<div class="login-block">
    
    <button (click)=back()> חזרה </button>
    
    <br><br>
    
</div>
  </div>
  