<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
    

      <div class="header">
          
            <h1 class=title>Yedidim</h1>

            <div class="responsive">
               
                <div class="logo">
                 

                 
        
                </div>
              </div>
              
            </div>
           <br>
           <br>
           <div id="waiting">
<div class="text1"><b>קריאה נשלחה בהצלחה</b>
  <br>
  <b>מאתר מתנדבים זמינים  </b></div>
 <br>
 <br>
<div class="loading">
    <i class="fa fa-refresh fa-spin"></i>
  
         </div>  
         </div>

            
            <div   id="return" > 
              <button (click)=back() class="btnback"> חזרה </button>
            <div class="de"> <b> ,היי </b> {{this.firstname}} {{this.lastname}}</div>
           

            <div class="de"> <b> המתנדב: </b> {{this.volunteer_name}} {{this.volunteer_lastname}} בדרך אליך</div>
            
            <div class="de"> <b>פלאפון :</b>{{this.volunteer_phone}} </div>
            
            </div>
            
    


  </div>
  