<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
    

      <div class="header">
          
            <h1 class=title>volunteer page</h1>
            
          
            
         
              
            </div>
            <br><br>
            <div>
              <button (click)="edit_profile()" class="btnSubmit"> ערוך פרופיל </button>
            
            </div>
            <br>
           
          
                
        <div *ngFor='let message of messages'   class="message" > 
            <div class="date">{{message.date}}</div>
          שם : {{message.name}}<br>שם משפחה: {{message.lastname}} <br>פלאפון : {{message.phone}}<br>קטגוריה: {{message.category}}<br>כתובת: {{message.address}}<br>פרטים: {{message.details}}
          
        </div>
            
      
    
  </div>
  