<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
    

      <div class="header">
          
            <h1 class=title>Yedidim</h1>

               
             
        <div class="responsive">
          <div class="logo">
            <a target="_blank" >
              <img src="assets/log.png" alt="Trolltunga Norway" width="300" height="200">
            </a>
  
          </div>
        
              </div>
              
            </div>
    

<img src="assets/welcome.png" class="img">
<div class="login-block">
    
    <button (click)=exsist_volun()> כניסה </button>
    
    <br><br>
    
</div>
  </div>
  