.header
{
    
    width: 100%;
    
    padding:17px;
    top:0%;
    background-color: rgb(131, 88, 172);
    
}
.title
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 120%;
    text-align: center;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: end;
    font-size: medium;
}
div.logo img {
    width: 16%;
    height: 16%;
    margin-right: 100%;
    margin-top:0%;
    
    
}







.login-block {
    width: 320px;
    padding: 20px;
   
    border-radius: 5px;
   
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto ;
    margin-bottom: auto;
   
    right:50%;
   
}


.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 22px 0 50px;
    outline: none;
    text-align: end;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 99% top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 99% bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 99% top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 99% bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid rgb(131, 88, 172);
}

.login-block button {
    width: 100%;
    height: 40px;
    background: rgb(131, 88, 172);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(131, 88, 172);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    outline: none;
    cursor: pointer;
}



.responsive {
  
    float: left;
    width: 24.99999%;
    top:5%;
    position: absolute;
    
    
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}



.img{
     margin-top:-5%;
    width: 100% ;
    height:100%;
margin-right: 37%;

}

