.header
{
    
    width: 100%;
    
    padding:17px;
    top:0%;
    background-color: rgb(131, 88, 172);
    
}
.title
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 120%;
    text-align: center;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: end;
    font-size: medium;
}





.login-block {
    width: 320px;
    padding: 20px;
   
    border-radius: 5px;
   
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto ;
    margin-bottom: auto;
   
    right:50%;
   
}


.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 22px 0 50px;
    outline: none;
    text-align: end;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 99% top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 99% bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 99% top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 99% bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid rgb(131, 88, 172);
}

.login-block button {
    width: 100%;
    height: 40px;
    background: rgb(131, 88, 172);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(131, 88, 172);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: rgb(195, 160, 229);
}


.responsive {
  
    float: left;
    width: 24.99999%;
    top:5%;
    position: absolute;
    
    
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}


.space {
    width: 213px;
    height: 20px;
    margin: 50px auto;
}
#mySidenav a {
    position:absolute;
    left: -80px;
    transition: 0.9s;
    padding: 7px;
    width: 75px;
    
    font-size: 20px;
    color: white;
    border-radius: 0 25px 25px 0;
    margin-top: 14%;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 27px;
    background-color:rgb(168, 163, 163);
}

#blog {
    top: 71px;
    background-color: rgb(168, 163, 163)
}

#projects {
    top: 115px;
    background-color: rgb(168, 163, 163)
}

#contact {
    top: 160px;
    background-color: rgb(168, 163, 163)

}
#aaa
{
    height: 20%;
    width: 40%;
}
