<div class="header">
  <h1 class=title>Yedidim</h1>
  
  
  </div>

<div class="main">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
<div class="container">
  <img src="assets/l.png">
           
        <div class="clearfix"></div>
       <div class="kaftor">
      <br>    
      <br>  <input  type="submit" value="מתנדב קיים" >
      <br> <br> <input  type="submit" value="מתנדב חדש" >
      <br><br>  <input  type="submit" value="בקשת עזרה" >
     
    </div>
    </div>







