<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


  <div class="container">
    

      <div class="header">
         
            <h1 class=title>Yedidim</h1>

            <div class="responsive">
                   
                <div id="mySidenav" class="sidenav">
                    <a href="https://twitter.com/yedidim_dan?lang=he" id="about" ><img src="assets/twitter.png" alt="" id="aaa"></a>
                    <a href="mailto:yedidim.project@gmail.com?subject=The%20subject&amp;body=This%20is%20a%20message%20body" id="blog"><img src="assets/gmail.png" alt="" id="aaa"></a>
                    <a href="https://www.facebook.com/yedidim.il/" id="projects"><img src="assets/facebook.png" alt="" id="aaa"></a>
                    <a href="https://www.instagram.com/yedidim.il/" id="contact"><img src="assets/instagram.png" alt="" id="aaa"></a>
                  </div>
              
              </div>
              
            </div>
    
<div class="space"></div>

<div class="login-block">
    
    <button (click)=exsist_volun()> מתנדב קיים</button>
    <br><br>
    <button (click)=new_volun() > הצטרפות לארגון</button>
    <br><br>
    <button (click)=request_help()>פרסום קריאה למתנדבים</button>
    <br><br>
    
</div>
  </div>
  
  



















