.header
{
    
    width: 100%;
    
    padding:17px;
    top:0%;
    background-color: rgb(131, 88, 172);
    
}
.title
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 120%;
    text-align: center;
}

.a1
{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 120%;
    position:absolute;
    left:52%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top:6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
   

    
}
input[type=tel], select, textarea {
    text-align: end;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top:6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
}

/* Style the submit button with a specific background color etc */
.req_submit {
   
  
    background-color:rgb(247, 16, 16);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

/* When moving the mouse over the submit button, add a darker green color */
.req_submit:hover {
    background-color: #5841c0;
}

/* Add a background color and some padding around the form */
.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: end;
    font-size: medium;
}

div.gallery img {
    width: 12%;
    height: 12%;
    margin-left: -15%;
}
div.gallery a  :hover{

background: rgb(131, 88, 172);
}


div.desc {
    padding: 15px;
    text-align:end;
 
}


.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    
    clear: both;
}
  
div.logo img {
    width: 30%;
    height: 30%;
    margin-right:100%;
    margin-top: -30%;
    
   
    
    
}
